* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
    color: #FFF;
}

*:focus {
    outline: none !important;
}

*::selection {
    color: #FFF;
    background: #af0000;
}

/* Start Navbar */
.navbar {
    font-weight: 500;
    user-select: none;
    transition: all 0.5ms ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-white {
    background-color: #FFF !important;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.fixed-navbar {
    background-color: #FFF !important;
    /* transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out; */
}

.fixed-navbar.navbar {
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5) !important;
}

.fixed-navbar .navbar-nav a.active {
    color: #af0000 !important;
}

.fixed-navbar .navbar-nav a.active::after {
    content: '';
    width: 50%;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #af0000;
}
/* End Navbar */

/* Start Landing */
.landing::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.landing {
    background-image: url('../img/action-blur-close-up-735911.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    user-select: none;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    transform: translateY(150%);
    font-weight: 400;
}

.landing-text h1 {
    font-weight: 400;
}

.landing-text a {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 30px;
    text-decoration: none;
    color: #FFF;
    background-color: #af0000;
    width: 230px;
    align-self: center;
    margin-top: 30px;
    border-radius: 5px;
    transition: background-color 0.5s ease-out;
}

.landing-text a:hover,
.landing-text a:focus {
    background-color: transparent;
    border: 1px solid #af0000;
}

.fa-arrow-down {
    margin-left: 5px;
}
/* End Landing */

/* Start About */
.about {
    /* height: 100vh; */
    /* border: 1px solid #000; */
    color: #000;
    padding: 120px 0 130px 0;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.about-info img {
    width: 250px;
    border-radius: 5px;
    align-self: center;
    user-select: none;
}

.about-info h3 {
    font-weight: 500;
    color: #af0000;
    margin: 20px 0 20px 0;
}

.about-skills {
    text-align: center;
    user-select: none;
}

.about-skills h3 {
    margin-bottom: 20px;
}

.about-skills span {
    font-weight: 500;
}

.learning-color {
    color: #7781cc;
}

.normal-color {
    color: #af0000;
}

.special-color {
    color: #d39f06bd
}

.skill {
    display: inline-block;
    color: #FFF;
    background-color: #af0000;
    border: 1px solid #af0000;
    padding: 5px 15px;
    margin: 5px;
    text-align: center;
    width: 150px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.special {
    background-color: #d39f06bd;
    border: 1px solid #d39f06bd;
}

.learning {
    background-color: #7781cc;
    border: 1px solid #7781cc;
}

.skill:hover {
    color: #000;
    background-color: transparent;
}
/* End About */


@media screen and (max-width: 500px) {
    .landing-text h3 {
        font-size: 20px;
    }

    .landing-text .ah-headline {
        font-size: 25px;
    }
}