.loader {
    background: #FFF;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.loader h6 {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 15rem;
    color: rgba(0, 0, 0, 0.1);
    background-image: url('../img/bg_loader.pngs');
    background-size: auto;
    background-repeat: repeat-x;
    background-clip: text;
    -webkit-background-clip: text;

    animation: animate 3s linear infinite
}

@keyframes animate {
    0% {
        background-position: 0 230px;
    }

    50% {
        background-position: 0 -50px;
    }

    100% {
        background-position: 0 230px;
    }
}